# development environment
.DS_Store
.vscode
.idea

# build artifacts
coverage
opa_*
.Dockerfile_*
_release
site.tar.gz
*.bak
.go/

# runtime artifacts
policies

# cert files
opa-envoy.crt
opa-envoy.key
root.crt
